body {
    background-color:blanchedalmond;
}
p {
    color:rgb(126, 71, 9)
}
.list {
    color:brown;
    width: 300px;
}

.Birdtype {
    color:rgb(101, 11, 31); 
    background-color: rgb(183, 131, 52); 
    text-align: center;
    font-size: 40px;
    font-family: Georgia, serif;
}
.characters{
    color:brown
}
.nav{
    display: inline-block;
    text-align: left;
    padding-left: 1000px;


}
main{
    margin: 30px;

}
.anatomy{
    width: 200px;
    height: 300px;
    display: inline-block;
}
.list{
    display: inline-block;
}
.list a {
    display: block;
}
.list p{
    width: 100%;
}